@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Shippori+Antique&display=swap');
:root{
    /*font*/
    --f1: "Finger Paint", serif;
    --f2: "Shippori Antique", serif;

    /*colors*/
    --cf: #FFECE5;
    --cf: #FFE1E8;

    --ct1: #FFF1F4;
    --ct2: #372a31;

}
ul{
  list-style: none;  
}
a{
    text-decoration: none;
    color: var(--ct1);
}
body{
    background: #FFF1F4;
    font-family: var(--fp);
}

header{
    background: url(img/header_bar.png) 0 0/100% 100% no-repeat;
    width: 100%;
    height: 120px;
    z-index: 100;
}
.header__logo{
    height: 80px;
    margin-right: 50px;
}
.header__menu{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 0 0 40px;
}
.menu__lists{
    display: flex;
    font-size: 32px;   
    color: #FFF1F4;
}
.menu__list{
    margin-right: 50px;  
    
}
