@import url(../blocks/header.css);
@import url(../blocks/footer.css);




main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.main__header_title{
    font-size: 70px;
    text-align: center;
}
.main__header img{
    margin: 30px 0;
}
.main__header_text{
    font-size: 24px;
    text-align: center;
    width: 70%;
}

.main__content{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content__title{
    background: url(img/red_line.png) 0 0/100% 100% no-repeat;
    font-size: 45px;
    padding: 0 20% 0 10px;
    color: #FFF1F4;
    margin-bottom: 100px;
}

.content__blocks{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;
}
.content__blocks img{
    margin: 40px 0;
}
.content__block{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFE1E8 ;
    width: 100%;
    flex-wrap: wrap;
}
.bg2{
    background: #FFECE5;
}
.block__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.block__img img{
    max-width: 600px;
    max-height: 500px;
    padding: 20px;
    margin: 0;
}
.block__img p{
    font-size: 40px;
    margin: 0;
}
.block__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 40%;
}
.block__text{
    width: 70%;
    font-size: 20px;
}
.block__link{
    color: #000;
    text-decoration: underline;
}


/* ----------------------------------------------
                    Adaptive
------------------------------------------------- */

@media (max-width: 1280px) {
    .block__img img{
        max-width: 100%
    }
}

@media (max-width: 1024px) {
    .main__header img{
        width: 100%;
    }
    .content__block{
        flex-direction: column;
    } 
    .block__img{
        width: 100%;
    }
    .block__info{
        width: 100%;
    }
}
@media (max-width: 768px) {
}

